@media only screen and (min-width: 480px) {
    .topBar{
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 20px 40px;
    }
    

    header span{
        font-size: 1.5rem;
        margin-left: 2rem;
        padding-top: 25px;

    }

    header img{
        max-width: 100px;
    }
    .hamburguer {
        display: none;
      
    }
    .navigation{
        position: static;
        display: block;
        width: auto;
    }

    .navigation ul{
        display: flex;
        justify-content: flex-end;
        gap: 50px;
        font-size: 1.5rem;
        font-weight: bold;
    }

    .navigation a{
        border: none;
    }

    .hero img {
        width: 100%;  
        height: auto; 
        display: block;
    }

    #cards{
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
        gap: 25px;
        margin: 20px;
        align-items: stretch;
    }
    
    #cards section{
        margin: 0.5rem;
        padding: 0;
        background-color: white;
        border-radius: 8px;
        display: flex;
        flex-direction: column;
        align-items: stretch;
        text-align: center;
        overflow: hidden;
        box-shadow: 5px 5px 15px #3B7A57;
    }
    
    #cards h2{
        font-size: 2rem;
        background-color: #3B7A57;
        color: white ;
        padding: 20px;
        width: 100%;
        margin-bottom: 0.5rem;
        box-sizing: border-box;
        text-align: center;
    }
    .card-container{
        display: grid;
        grid-template-columns: minmax(100px, 150px) 1fr;
        gap: 20px;
        align-items: center;
        padding: 1rem;
        width: 100%;
    }

    .card-container img{
        padding: 5px;
        width: 120px;
        max-width: 150px;
        height: auto;
        background-color: white;
    }

    .card-info{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        text-align: left;
        width: 100%;
        line-height: 1.5;
        font-size: 1rem;
        padding-right: 1rem;
    }
    
    .card-info p{
        margin: 0.2rem 0;
        color: #44633F;
        font-size: 1.2rem;
        text-align: left;
        width: 100%;
        word-wrap: break-word;
    }

    .card-info strong {
        font-weight: bold;
        color: #44633F;

    }

    .card-info a{
        display: inline-block;
        overflow-wrap: break-word;
        word-wrap: break-all;
        margin: 0.2rem 0;
        color: #44633F;
        font-size: 1.2rem;
        text-decoration: none;
        max-width: 100%;
    }

    .card-info a:hover {
         text-decoration: underline;
    }

    footer{
        color: #F4F4F4;
        background-color: #4A4A4A;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 40px;
        font-size: 1.5rem;
        margin-top: 20px;
    }

    .logos{
        display: flex;
        gap: 25px;
        font-size: 5rem;
    }
}
